<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="wrapper">
        <header>

            <!-- <img src="imgs/code.jpg" class="background"> -->
            <div class="background"></div>
            <!-- <img src="imgs/Trees.png" class="foreground"> -->
            <div class="intro-container">
                <h1 class="title">Panashe Chimhina</h1>
                <div class=" intro">
                    <h1>Work</h1>
                    <div class="row">
                        <h3>I've been developing applications since 2019. I am primarily interested in
                            making user friendly, sustainable, and elegant online systems.<br><br>
                            <small>Powered by
                                copious amounts of coffee.</small>
                        </h3>
                    </div>
                </div>
            </div>
        </header>
        <section id="work">
            <div class="animated fadeIn">
                <div class="small-12 columns content">

                    <div class="row small-up-1 large-up-2 looking-for-help">
                        <h2>Profile</h2>
                    </div>
                    <p>I am a software developer who is chiefly interested in developing secure web
                        applications. I have mainly
                        worked with MongoDB, Express, React and node to develop full stack web solutions. I am also
                        quite familiar with other frameworks and
                        programming languages such as PHP, MySQL, Python, Java and C. </p>
                    <ul>
                        <li><strong>Frontend<br>
                            </strong>HTML5, CSS3 &amp; responsive grids.</li>
                        <li><strong>Data Visualisation<br>
                            </strong>D3.js, JSON APIs &amp; AJAX.</li>
                        <li><strong>JavaScript</strong><br>
                            Vanilla Javascript, jQuery, React, SASS, Redux &amp; Bootstrap.</li>
                        <li><strong>Backend development &amp; APIs<br>
                            </strong>NPM, Node-js, Express, MongoDB, Mongoose, MySQL, PHP and quality assuarance and
                            testing with Chai.
                        </li>
                        <li><strong>Information Security<br>
                            </strong>HelmetJS.
                        </li>
                    </ul>
                    <span class="end-single animated fadeIn"></span>
                    <div class="gig">
                        <div class="row small-up-1 large-up-2 looking-for-help">
                            <h2>A select few projects I have worked on.</h2>
                        </div>
                        <div class="cont collapse align-middle">
                            <div class="small-12 medium-4 large-3 client-img">
                                <a href="https://hoyotrader.herokuapp.com/" target="_blank"><img width="150"
                                        height="150"
                                        src="https://static.vecteezy.com/system/resources/previews/011/015/045/original/kangaroo-origami-abstract-colorful-vibrant-kangaroo-logo-design-animal-origami-transparent-background-illustration-png.png"></a>
                            </div>
                            <div class="columns small-12 medium-8 large-9">
                                <h3>
                                    Trading Journal<br>
                                    <small>@ <a href="https://hoyotrader.herokuapp.com/" target="_blank">HoyoTrader
                                        </a></small>
                                </h3>
                            </div>
                        </div>
                        <p>HoyoTrader is a trading journal with integrated analytics that saves and backs up trades
                            executed by (mainly) stock,
                            forex and crypto currency traders. Users can manualy enter their trades and the HoyoTrader
                            software carries out
                            a thorough analysis of all the trades and issues back graphical representations of the
                            analysis report. Users can
                            use this insightful information to enhance their trading strategies.
                        </p>
                        <p>Core Technologies:<br>React, CSS, MongoDB, HTML, Vanilla
                            JavaScript, Node, Express, D3.</p>
                    </div>
                    <span class="end-single animated fadeIn"></span>
                    <div class="gig">
                        <div class="cont collapse align-middle">
                            <div class="small-12 medium-4 large-3 client-img">
                                <a href="https://similaritychecker.herokuapp.com/" target="_blank"><img width="130"
                                        height="130" src="https://i.postimg.cc/mDVrBpsR/logo.png"></a>
                            </div>
                            <div class="columns small-12 medium-8 large-9">
                                <h3>
                                    Plagiarism Checker<br>
                                    <small>@ <a href="https://similaritychecker.herokuapp.com/"
                                            target="_blank">Similarity
                                            Checker</a></small>
                                </h3>
                            </div>
                        </div>
                        <p>A web application that checks the similarity between documents.
                            It primarily consists of two types of checks namely Standard check and Web check.
                            The standard check carries out a plagiarism check between two documents and the web check
                            makes a
                            google based search using every sentence in the given document. Both checks return a
                            similarity
                            report which highlights the percentage similarity.
                        </p>
                        <p>Core Technologies:<br>Express, Node, EJS, HTML, CSS, Vanilla
                            JavaScript.</p>
                    </div>

                    <span class="end-single animated fadeIn"></span>
                    <div class="gig">
                        <div class="cont collapse align-middle">
                            <div class="small-12 medium-4 large-3 client-img">
                                <a href="https://translator.herokuapp.com/" target="_blank"><img width="130"
                                        height="130"
                                        src="https://images.pexels.com/photos/267669/pexels-photo-267669.jpeg?auto=compress&cs=tinysrgb&w=600"></a>
                            </div>
                            <div class="columns small-12 medium-8 large-9">
                                <h3>
                                    English Translator<br>
                                    <small>@ <a href="https://translator.herokuapp.com/" target="_blank">American /
                                            British
                                            English Translator</a></small>
                                </h3>
                            </div>
                        </div>
                        <p>A web application that translates American English to British English or Vice versa.
                            The app handles numerous varying aspects of both types of English such as word spellings,
                            grammar, nouns, phrases titles as well as time representations. Users can enter
                            British/American text and
                            the app translates it.
                        </p>
                        <p>Core Technologies:<br>Express, Node, HTML, CSS, Vanilla
                            JavaScript.</p>
                    </div>

                    <span class="end-single animated fadeIn"></span>
                    <div class="gig">
                        <div class="cont collapse align-middle">
                            <div class="small-12 medium-4 large-3 client-img">
                                <a href="https://github.com/PanasheChimhina" target="_blank"><img width="130"
                                        height="130"
                                        src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU"></a>
                            </div>
                            <div class="columns small-12 medium-8 large-9">
                                <h3>
                                    @ <a href="https://github.com/PanasheChimhina" target="_blank">See all
                                        projects...</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <span class="end-single animated fadeIn"></span>

                    <footer>
                        <h2>Contact</h2>
                        <div class="icons">

                            <a href=“tel:+447488320147”>
                                <ion-icon name="call" style="color: #444444;"></ion-icon>
                            </a>
                            <a href="mailto: panashechimhina@gmail.com">
                                <ion-icon name="mail" style="color: #444444;"></ion-icon>
                            </a>
                            <a href="https://github.com/PanasheChimhina">
                                <ion-icon name="logo-github" style="color: #444444;"></ion-icon>
                            </a>
                        </div>
                        <p><small>This website's development is ongoing...</small></p>
                    </footer>

                </div>
            </div>

        </section>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script crossorigin type="text/babel" src="./index.js"></script>
</body>

</html>